<p style="color: green"><%= notice %></p>
<%= render @photo %>
<div>
  <%= link_to "Edit this photo", edit_admin_photo_path(@photo) %> |
  <%= link_to "Back to photos", admin_photos_path %>
  <%= button_to "Destroy this photo", @photo, method: :delete %>
</div>
