<%= simple_form_for [:admin, @project] do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :github_url %>
    <%= f.input :live_url %>
    <%= f.input :featured, as: :boolean, label: "Featured (show on homepage)" %>
    <%= f.input :featured_image, as: :file, hint: (@project.featured_image.attached? ? cl_image_tag(@project.featured_image.key, width: 200, height: 200, crop: :fill) : "") %>
    <%= f.input :tags %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
