<p style="color: green"><%= notice %></p>
<h1>Admin: Projects</h1>
<%= link_to "New Project", new_admin_project_path, class: "btn btn-primary mb-3" %>
<div id="admin_projects">
  <% @projects.each do |project| %>
    <%= render "project", project: project %>
    <p>
      <%= link_to "Show (Admin)", admin_project_path(project), class: "btn btn-sm btn-outline-secondary" %>
      <%= link_to "View on Site", project_path(project), class: "btn btn-sm btn-primary", target: "_blank" %>
      <%= link_to "Edit", edit_admin_project_path(project), class: "btn btn-sm btn-outline-primary" %>
    </p>
  <% end %>
</div>
