<p style="color: green"><%= notice %></p>
<h1><%= @project.title %></h1>
<div>
  <p><strong>Description:</strong><br>
    <%= simple_format(@project.description) %></p>
  <p><strong>GitHub:</strong> <%= link_to format_url(@project.github_url), format_url(@project.github_url), target: "_blank" if @project.github_url.present? %></p>
  <p><strong>Live:</strong> <%= link_to format_url(@project.live_url, add_www: true), format_url(@project.live_url, add_www: true), target: "_blank" if @project.live_url.present? %></p>
  <p><strong>Tags:</strong> <%= @project.tags %></p>
</div>
<%= link_to "Edit", edit_admin_project_path(@project), class: "btn btn-primary" %> |
<%= link_to "Back to list", admin_projects_path, class: "btn btn-secondary" %> |
<%= button_to "Destroy", admin_project_path(@project), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
<p>
  <%= link_to "â† Back to Admin List", admin_projects_path, class: "btn btn-secondary" %>
  <%= link_to "View on Public Site", project_path(@project), class: "btn btn-primary", target: "_blank" %>
</p>
