<p style="color: green"><%= notice %></p>
<%= render @blog_post %>
<div>
  <%= link_to "Edit this blog post", edit_admin_blog_post_path(@blog_post) %> |
  <%= link_to "Back to blog posts", admin_blog_posts_path %>
  <%= button_to "Destroy this blog post", admin_blog_post_path(@blog_post),
      method: :delete,
      data: { turbo_confirm: "Are you sure?" },
      class: "btn btn-danger" %>
</div>
